langgraph>=0.2.50
langchain>=0.3.0
langchain-openai>=0.2.0
langchain-community>=0.3.0
langchain-pinecone>=0.2.0
pinecone>=5.4.2
tavily-python>=0.5.0
python-dotenv>=1.0.1
finnhub-python>=2.4.22
pandas>=2.2.2
torch>=2.4.0
pydantic>=2.10.6

